# Python кеш и байт-код
__pycache__/
*.py[cod]

# Виртуальное окружение
venv/

# Переменные окружения
.env

# Логи, файлы БД
*.log
*.sqlite3

# Pytest cache
.pytest_cache/

# Coverage
htmlcov/
.coverage

# IDE и редакторы
.vscode/
.idea/

# Docker-артефакты
docker-compose.override.yml

# macOS system files
.DS_Store
**/.DS_Store